{% extends 'base.html'%}
{% block title %}
EverGreen/About
{% endblock %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'about.css'%}">
<div class="card">
  <div class="card-text">
    <div class="portada">
    
    </div>
    <div class="title-total">   
      <div class="title">Hack4Earth Team</div>
      <h2>About EverGreen</h2>
  
  <div class="desc">Welcome to our sustainable marketplace, where conscious consumers and eco-friendly vendors come together to create a better future for our planet. At the heart of our mission is a commitment to promoting sustainability, supporting ethical practices, and fostering a sense of community.</div>
  <div class="desc">
    Our vision is to reimagine the way we shop and live by offering a marketplace that prioritizes the well-being of the planet and its inhabitants. We believe that every purchase has the power to make a positive impact, and we're here to make it easy for you to choose products and services that align with your values.
  </div>
  <div class="desc">
    Thank you for joining us on this journey towards a more sustainable and compassionate world. Together, we can make a lasting impact, one conscious choice at a time.
  </div>
  <div class="actions">
    <button><i class="far fa-heart"></i></button>
    <button><i class="far fa-envelope"></i></button>
    <button><i class="fas fa-user-friends"></i></button>
  </div></div>
  
  </div>
</div>
{% endblock %}